/* IMPORTED FONTS */

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Lato:wght@300;400;700&family=Playfair+Display:wght@700&display=swap");

/* #### GENERAL SETTINGS #### */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* IMAGES */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* CSS CUSTOM PROPERTIES */

:root {
  font-family: "Lato", sans-serif;
  --color-darkest: #003a4e;
  --color-dark: #89c8cf;
  --color-light: #fc5d61;
  --color-lighter: #e4e4e4;
  --color-green: rgb(36, 146, 60);
  --color-active: #fc5d61;
  --color-ctas: #fc5d61;
  --white: #f0f0f0;
  --black: #1b1c1e;
}

/* FONT SIZES */

h1 {
  font-family: "Bungee", cursive;
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 3.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Bungee", cursive;
}

h3,
#cards-links {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  line-height: 1.5rem;
  padding-bottom: 0.9rem;
  color: var(--black);
}

p {
  color: var(--black);
  line-height: 1.5rem;
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
  line-height: 1.5rem;
  font-size: clamp(0.5rem, 5vw, 1rem);
  font-family: "Lato", sans-serif;
}

a:hover {
  color: var(--color-dark);
}

/* FONT SIZES END */

/* BUTTONS */

.header-btn {
  display: block;
  width: 10rem;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: var(--color-darkest);
  font-family: "Mukta", sans-serif;

  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.nav_button,
.highlight_button {
  /* background-color: var(--active-ctas); */
  border: 1.5px solid var(--color-darkest);
  color: var(--color-darkest);
  max-width: 10rem;
  max-height: 2.7rem;
}

.CTA_button {
  border-radius: 15px;
  background-color: var(--color-ctas);
  color: var(--white);
  max-width: 10rem;
  max-height: 2.7rem;
}

.CTA_button:hover {
  animation: scale 0.3s forwards;
}

.CTA-btn {
  display: block;
  width: 10rem;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: var(--white);
  font-family: "Mukta", sans-serif;

  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.theme-headline {
  font-family: "Bungee", cursive;
}

#white-txt {
  color: var(--white);
}

/* ##################   START   ##################### */

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-lighter);
  /* border-bottom: 1px solid var(--color-darkest); */
  padding: 2.2rem;
  align-items: center;
}
#navigation {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  list-style: none;
  padding-left: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--color-darkest);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* #### BURGER MENU */

.show-desktop {
  display: block;
}
.menu,
.exitButton {
  display: none;
}

.menu {
  width: 3em;
  float: right;

  cursor: pointer;
}

.exitButton {
  position: absolute;
  width: 2em;
  top: 0;
  right: 3em;
  padding-top: 3em;
  cursor: pointer;
}

/* NAVIGATION END */

/* HEADER */

#header-con {
  display: flex;
}

.leftheader {
  width: 9rem;
  /* min-height: 80vh; */
  background-color: var(--color-darkest);
  border-right: 0px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

#lang-con {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  width: 9rem;
  height: 7rem;
  background-color: var(--color-light);
}

.rightheader {
  width: 100%;
}

header {
  display: flex;
  min-height: 96vh;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
  background-color: white;
}

.header_graphics {
  width: 40rem;
}

.header_text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30vw;

  line-height: 1.5rem;
}

/* HEADER END */

/* THEME */

.theme-desc {
  display: flex;
  align-items: center;
  min-height: 50vh;
  padding: 2rem;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  min-height: 30vh;
  background-color: var(--color-lighter);
}

.theme-desc article {
  max-width: 55vw;
  min-width: 80vw;
}

.theme_graphics {
  width: 300px;
  height: auto;
}

/* THEME END */

/* CARD */

#card-container {
  margin-top: 2rem;
  background-color: var(--color-lighter);
  padding: 2rem;
}

.assigments {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
  margin: 2rem 2rem;
}

.exercise {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 40rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.card-img {
  width: 13rem;
  height: 13rem;
  border-radius: 20px;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-txt {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding-left: 1rem;
  border-left: 1px solid var(--color-darkest);
}

#cards-links:link {
  text-decoration: none;
  font-weight: 600;
}

#cards-links:hover {
  color: var(--color-active);
}

/* CONCLUSION */

#conclusion {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  min-height: 20vh;
  background-color: var(--color-active);
  padding: 2rem;
  flex-wrap: wrap-reverse;
}

.conclusion-graphics {
  max-width: 300px;
}

#conclusion article {
  max-width: 40vw;
  min-width: 80vw;
}

/* ###################  ASSIGNMENT PAGE ################### */

.theme-desc article .columns {
  column-count: 2;
  column-gap: 2rem;
  margin-top: 1rem;
}

#gallery {
  min-height: 50vh;
  background-color: var(--white);
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

#project-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  min-height: 20vh;
  background-color: var(--color-active);
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  place-items: center;
}

.page-details {
  max-height: 300px;
  width: auto;
}

.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#mockup {
  width: 700px;
  height: auto;
}

.prev,
.next {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  gap: 0.4rem;
  place-items: center;
}

/* ###################  ASSIGNMENT PAGE END ################### */

/* FOOTER */

footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darkest);
  color: var(--color-light);
}

footer a {
  color: var(--color-light);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

/* FOOTER END */

/* CLASSES AND IDS */

.pageheader {
  flex-direction: row-reverse;
}

.rightpage {
  background-color: rgba(102, 205, 171, 0);
}

#align {
  text-align: center;
}

/* CLASSES AND IDS END */

/* KEYFRAMES */

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* KEYFRAMES END */

/* MEDIA QUARIES */

@media only screen and (max-width: 1234px) {
  .leftheader {
    display: block;
    min-height: 1rem;
    width: 100%;
    height: auto;
  }

  #logo img {
    width: 10vw;
  }

  #header-con {
    flex-direction: column;
  }

  .theme-desc {
    flex-direction: column;
    gap: 2rem;
    align-content: center;
  }

  #lang-con {
    display: none;
  }

  header {
    min-width: 100%;
    justify-content: inherit;
    align-self: center;
    padding: 1rem;
    gap: 0px;
  }

  .header_text {
    width: 100%;
  }

  .card-img {
    width: 9rem;
    height: 9rem;
    padding: 0.5rem;
  }

  .details {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1060px) {
  .theme-desc article .columns {
    column-count: 1;
  }
}

@media only screen and (max-width: 600px) {
  #logo img {
    width: 15vw;
  }

  .menu,
  .exitButton {
    display: block;
  }

  #navigation {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    top: -110vh;
    overflow-x: hidden;
    text-align: center;
    transition: 0.5s ease;
    margin-block-start: 0;
    padding-inline-start: 0;
    padding-bottom: 0;
  }

  nav ul li a {
    font-size: 20px;
    color: #818181;
  }

  nav ul li a:hover {
    color: white;
  }

  .nav-transition {
    top: 0 !important;
    transition: 1s !important;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    transition: 0.3s;
    top: 80px;
    padding-top: 25px;
  }

  .exercise {
    max-width: 90%;
  }

  .assigments {
    grid-template-columns: 1fr;
  }
  .details {
    grid-template-columns: 1fr;
  }

  #gallery {
    flex-direction: column;
  }

  #project-nav {
    flex-direction: column;
    gap: 2rem;
  }

  footer ul {
    flex-direction: column;
    gap: 1rem;
  }

  footer {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* MEDIA QUARIES END */
